.item {
  margin-bottom: 20px;
  display: flex;
  height: 100px;
  width: 300px;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2),
    1px 1px 3px 1px rgba(0, 0, 0, 0.14), 1px 1px 3px 1px rgba(0, 0, 0, 0.12);
}

.isOnline {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  background-color: green;
  border-radius: 50%;
  border: solid 1px pink;
}

.isOfline {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  border-radius: 50%;
  background-color: red;
}

.avatar {
  margin: 5px 10px;
  padding-left: 20px;
  background-color: cadetblue;
  border-radius: 5px;
}

.name {
  font-size: 20px;
  font-weight: 500;
  padding-left: 20px;
}
